<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generated Graphs</title>
</head>
<body>
    <h2>Generated Graphs</h2>
    <img src="data:image/png;base64,{{ plot_data1 }}" alt="Graph 1"><br><br>
    <img src="data:image/png;base64,{{ plot_data2 }}" alt="Graph 2"><br><br>
    <!-- Button to return to index.html -->
    <a href="{{ url_for('index') }}"><button>Return to Input</button></a>
</body>
</html>
